*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 7vh;
    background-color: #734226;
    text-align: center;
}

header > nav > a{
    color: rgb(255, 255, 255);
    margin: 1em;
}

.nav{
    width: 5px;
}